<div>
    <h2 translate="hopeRanchLearningAcademyApp.social_skill.home.title">Social Skills</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="social-skill.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="hopeRanchLearningAcademyApp.social_skill.home.createLabel">
                        Create new Social Skill
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="hopeRanchLearningAcademyApp.social_skill.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="hopeRanchLearningAcademyApp.social_skill.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="level"><span translate="hopeRanchLearningAcademyApp.social_skill.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="social_skill in vm.social_skills track by social_skill.id">
                    <td><a ui-sref="social-skill-detail({id:social_skill.id})">{{social_skill.id}}</a></td>
                    <td>{{social_skill.name}}</td>
                    <td>{{social_skill.description}}</td>
                    <td>{{social_skill.level}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="social-skill-detail({id:social_skill.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="social-skill.edit({id:social_skill.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="social-skill.delete({id:social_skill.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
